* {
  font-family: fantasy;
  margin: 0px;
  padding: 0px;
}
html {
  height: 100vh;
}

body {
  background: rgba(0,0,200,0.25);
}
header {
  background-color: rgba(0,0,200,0.2);
  position:sticky;
  position:-webkit-sticky;
}
.headerH1 {
  border:solid purple 4px;
  border-radius: 6px;
  width: 20vw;
  box-shadow:
    0 0 0 4px blue,
    0 0 0 8px green,
    0 0 0 12px yellow,
    0 0 0 16px orange,
    0 0 0 20px red;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,200,0.2);
  color: white;
}

.headerNav {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

.headerUl {
  display: flex;
  list-style: none;
}

.headerA, .headerA:visited, .headerA:link {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border:none;
  font-size: 16px;
}
.headerLi {
  margin: 20px auto;

}

#headerALogin{
  position: left;
}

#headerLiContact {
  background-color: white;
}
.accueil {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0,0,200,0.2);
  width: 65vw;
  margin: 60px auto;
  text-align: center;
}
.actu {
  text-align: left;
  margin: 20px 20px;
  border: dashed rgba(0,0,200,0.2);
}
.actu h3 {
  color: purple;
}

footer {
position: fixed;
bottom: 0px;
}
