* {
  font-family: fantasy;
  margin: 0px;
  padding: 0px;
}
html {
  height: 100vh;
}

body {
  background: rgba(0,0,200,0.25);
}
header {
  background-color: rgba(0,0,200,0.2);
  position:sticky;
  position:-webkit-sticky;
}
.headerH1 {
  border:solid purple 4px;
  border-radius: 6px;
  width: 20vw;
  box-shadow:
    0 0 0 4px blue,
    0 0 0 8px green,
    0 0 0 12px yellow,
    0 0 0 16px orange,
    0 0 0 20px red;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,200,0.2);
  color: white;
}

.headerNav {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

.headerUl {
  display: flex;
  list-style: none;
}

.headerA, .headerA:visited, .headerA:link {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border:none;
  font-size: 16px;
}
.headerLi {
  margin: 20px auto;

}

#headerALogin{
  position: left;
}

#headerLiContact {
  background-color: white;
}
.accueil {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0,0,200,0.2);
  width: 65vw;
  margin: 60px auto;
  text-align: center;
}
.agenda {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0,0,200,0.2);
  width: 65vw;
  margin: 60px auto;
}
.agendaDiv{
  text-align: left;
  margin: 20px 20px;
  border: dashed rgba(0,0,200,0.2);
}
.nomEvenement{
  color: white;
  font-size: 150%;
  margin-left: 20px;
  margin-top: 20px;
}
.nomProjet{
  margin-left: 40px;
  margin-top: 20px;
  color:brown;
}
.descriptionEvenement{
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 40px;
  word-wrap: break-word;
}
.dateEvenement{
  margin-top: 10px;
  margin-left: 30px;
}
.lieuEvenement{
  margin-top: 5px;
  margin-left: 30px;
}
.selectDateForm {
  margin: auto;
  text-align: center;
  margin:10px auto;
}
.actu{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0,0,200,0.2);
  width: 65vw;
  margin: 60px auto;
}
.actuDiv {
  text-align: left;
  margin: 20px 20px;
  border: dashed rgba(0,0,200,0.2);
}
.actu h3 {
  color: purple;
}


.bouton{
	padding:10px 24px;
	font-size:15px;
	border-radius:25%;
	background-color:white;
	color:black;
	border:1px solid #4CAF50;
	-webkit-transition-duration:0.8s;
	margin:20px;
}

.bouton:hover{
	background-color:#4CAF50; /*green*/
	color:white;
	border:1px solid white;
	border-radius: 5%;	-webkit-transition-duration:0.8s;
}

.formulairesCIS{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  
  padding: 50px;
}

.divAjouter{
  padding: 20px;

}

.divDelete{
  padding: 20px;

}

.champ{
  padding:5px;
  margin: 10px;
  border: black 1px solid;
  text-align: left;
  width:250px;
}

label{
    display: block; /* La balise devient de type block. */
    width: 150px;
    float: left;

}

footer {
position: fixed;
bottom: 0px;
}
